.vertical{
    -fx-alignment: center;
    -fx-background-image: url('back1.jpg') ;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.vertical1{
    -fx-background-color: rgba(212, 238, 255, 0.5);
    -fx-alignment: center;
    -fx-pref-width: 270px;
    -fx-min-width: 200px;
    -fx-max-width: 300px;
    -fx-pref-height: 300px;
    -fx-min-height: 250px;
    -fx-max-height: 350px;
    -fx-border-size: 1px;
    -fx-border-radius: 10px;
    -fx-border-color: rgba(115, 198, 250, 0.7);
    -fx-padding: 20px 10px;
}

.vertical12{
    -fx-background-color: rgba(212, 238, 255, 0.5);
    -fx-alignment: center;
    -fx-pref-width: 270px;
    -fx-min-width: 200px;
    -fx-max-width: 300px;
    -fx-pref-height: 500px;
    -fx-min-height: 450px;
    -fx-max-height: 550px;
    -fx-border-size: 1px;
    -fx-border-radius: 10px;
    -fx-border-color: rgba(115, 198, 250, 0.7);
    -fx-padding: 20px 10px;
}

.vertical3{
    -fx-background-color: rgba(212, 238, 255, 0.5);
    -fx-alignment: center;
    -fx-pref-width: 90vw;
    -fx-min-width: 85vw;
    -fx-max-width: 100vw;
    -fx-pref-height: 95vh;
    -fx-min-height: 90vw;
    -fx-max-height: 100vh;
    -fx-border-size: 1px;
    -fx-border-radius: 10px;
    -fx-border-color: rgba(115, 198, 250, 0.7);
    -fx-padding: 20px 10px;
}

.text{
    -fx-pref-width: 250px;
    -fx-min-width: 230px;
    -fx-max-width: 270px;
    -fx-pref-height: 60px;
    -fx-min-height: 50px;
    -fx-max-height: 70px;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-font-size: 15px;

}

.text1{
    -fx-fill: white;
    -fx-padding: 20px 0;
}

.bt{
    -fx-background-color: transparent;
    -fx-border-size: 1px;
    -fx-border-color:white;
    -fx-border-insets: 20px;
    -fx-border-radius:5px;
    -fx-font-size:15px;
    -fx-text-fill:white;
}

.bt:hover{
    -fx-text-fill: rgb(115, 198, 250);
    -fx-border-color: rgb(115, 198, 250);
}

.bt1{
    -fx-background-color: transparent;
    -fx-text-fill:white;
    -fx-font-size:15px;
}

.bt1:hover{
    -fx-text-fill: rgb(115, 198, 250);
}

.bt2{
    -fx-background-color: transparent;
    -fx-border-size: 0px;
    -fx-border-color:white;
    -fx-border-insets: 20px;
    -fx-border-radius:5px;
    -fx-font-size:15px;
    -fx-text-fill:white;
}

.bt2:hover{
    -fx-text-fill: rgb(115, 198, 250);
}

.grid-pane {
    -fx-hgap: 5px; /* Horizontal gap between columns */
}

.grid-pane > .grid-row {
  -fx-border-color: black;
  -fx-border-width: 1px 0 0 0;
  -fx-border-style: solid;
}

.table-view {
    -fx-pref-width: 500px;
    -fx-min-width: 400px;
    -fx-max-width: 600px;
}

